<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Creation subject</title>
</head>
<body>
<form action="/subjects/new" method="post">
  <div>
    <span th:if="${typeSubject == 'BOOK'}">
      <input type="radio" id="Book" name="typeSubject" value="BOOK" checked/>
      <label for="Book">Book</label>
    </span>
    <span th:unless="${typeSubject == 'BOOK'}">
      <input type="radio" id="Book2" name="typeSubject" value="BOOK"/>
      <label for="Book2">Book</label>
    </span>

    <span th:if="${typeSubject == 'JOURNAL'}">
      <input type="radio" id="Journal" name="typeSubject" value="JOURNAL"/>
      <label for="Journal">Journal</label>
    </span>
    <span th:unless="${typeSubject == 'JOURNAL'}">
      <input type="radio" id="Journal2" name="typeSubject" value="JOURNAL"/>
      <label for="Journal2">Journal</label>
    </span>

    <span th:if="${typeSubject == 'NEWSPAPER'}">
      <input type="radio" id="Newspaper" name="typeSubject" value="NEWSPAPER"/>
      <label for="Newspaper">Newspaper</label>
    </span>
    <span th:unless="${typeSubject == 'NEWSPAPER'}">
      <input type="radio" id="Newspaper2" name="typeSubject" value="NEWSPAPER"/>
      <label for="Newspaper2">Newspaper</label>
    </span>
  </div>
  <div>
    <button type="submit">Choose type</button>
  </div>
</form>
<form action="/subjects" method="post" th:object="${subject}">
  <div><label>Title: <input type="text" th:field="*{title}" name="title"/></label></div>
  <div><label>Amount: <input type="number" th:field="*{amount}" name="amount"/></label></div>
  <div th:switch="${typeSubject}">
    <div th:case="'BOOK'">
      <div><label>Author: <input type="text" th:field="*{author}" name="author"/></label></div>
      <div><label>Publisher: <input type="text" th:field="*{publisher}" name="publisher"/></label></div>
      <div><label>Number page: <input type="number" th:field="*{numberPage}" name="numberPage"/></label></div>
    </div>
    <div th:case="'JOURNAL'">
      <div><label>Number: <input type="number" th:field="*{number}" name="number"/></label></div>
      <div><label>Date release: <input type="date" th:field="*{dateRelease}" name="dateRelease"/></label></div>
      <div><label>Number page: <input type="number" th:field="*{numberPage}" name="numberPage"/></label></div>
    </div>
    <div th:case="'NEWSPAPER'">
      <div><label>Number: <input type="number" th:field="*{number}" name="number"/></label></div>
      <div><label>Date release: <input type="date" th:field="*{dateRelease}" name="dateRelease"/></label></div>
    </div>
  </div>
  <div><label>Category: <input type="text" th:field="*{typeSubject}" name="typeSubject" disabled/></label></div>
  <input type="submit" value="Add subject"/>
</form>
<div><a href="/subjects">Subjects</a></div>
<div>
  <form action="/logout" method="post">
    <input type="submit" value="Log out"/>
  </form>
</div>
</body>
</html>